# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode/
dist/
target/
codegen/
__debug_bin
CasaOS-AppManagement 

# node_modules
node_modules
package-lock.json

.idea
build/sysroot/usr/bin/appfile2compose
